<div class="row">
  <div class="col-4">
    <img class="img-thumbnail book-image" [src]="book.image" [alt]="book.title">
  </div>

  <div class="col-8">
    <div class="row">
      <h2 class="book-title" [innerText]="book.title"></h2>
    </div>

    <div class="row">
      <h6 class="book-description" [innerText]="book.description"></h6>
    </div>

    <div class="row">
      <h4 class="book-price" [innerText]="book.price | currency: 'USD'"></h4>
    </div>

    <div class="row">
      <h4 class="book-upvotes" [innerText]="'Upvotes: ' + book.upvotes"></h4>
    </div>

    <div class="row">
      <button (click)="upvote()" class="btn btn-primary upvote">Upvote</button>
    </div>
  </div>
</div>